@import './_variables';
@import './_navigation';
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Domine:wght@400;500&family=Pontano+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Pontano Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;

    @media screen and (max-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;
    }

    @media screen and (max-width: 767px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.img {
    max-width: 100%;
}

.button {
    cursor: pointer;
    color: #FFF;
    font-size: 18px;
    background-color: $amethyst;
    padding: 16px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    float: right;

    @media screen and (max-width: 767px) {
        font-size: 18px;
    }
}

h2, h3, h4 {
        font-family: 'Domine', serif;
    }

::selection {
    background: #ff9fd8;
}

::-moz-selection {
    background: #ff9fd8;
}

section {
    min-height: 33vh;

    h2 {
        text-align: left;
        margin-bottom: 32px;
        text-transform: uppercase;
        font-size: 36px;
        color: #000;
    }

    h3 {
        font-size: 24px;
        font-variant: small-caps;
        margin-bottom: 8px;
    }

    h4 {
        font-weight: 600;
        font-size: 18px;
    }
}

main {
    .banner {
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;

        background-image: url('../images/circle2.svg');
        background-color: #12002f;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 615px;

        @media screen and (max-width: 1024px) {
            background-size: 60vw;
        }

        .container {
            position: relative;


            h1 {
                font-size: 160px;
                text-align: center;
                font-family: 'Passion One', cursive;
                text-shadow: 3px 3px #1f1f1f;
                color: #eee;

                @media screen and (max-width: 767px) {
                    font-size: 80px;
                }
            }
        }
    }

    .about {
        background-color: $orange-yellow-crayola; 

        .container {
            padding-top: 64px;
            padding-bottom: 98px;

            .about-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 16px;
                margin-bottom: 16px;


                @media screen and (max-width: 767px) {
                    grid-template-columns: 1fr;
                }

                .about-element {
                    background-color: #fff;
                    border-radius: 16px;
                    overflow: hidden;
                    box-shadow: 0px 6px 12px rgba(0,0,0,0.1);

                    p {
                        margin-bottom: 16px;
                    }

                    .img-box {
                        display: block;
                        width: 100%;
                        border-bottom: 5px solid $amethyst;

                        .img {
                            display: block;
                            width: 100%;
                            max-height: 300px;
                            object-fit: cover;
                        }
                    }

                    .resume-element {
                        margin-top: 16px;
                        margin-bottom: 16px;

                        h4 {
                            padding-left: 16px;
                        }

                        p {
                            padding-top: 4px;
                            padding-left: 16px;
                        }
                    }

                    .content {
                        padding: 16px;
                    }
                }
            }
        }
    }

    .projects {
        padding-top: 64px;
        padding-bottom: 64px;
        background-color: $sandy-brown;

        .projects-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 16px;
            margin-bottom: 16px;

            .project {
                border-radius: 16px;
                overflow: hidden;
                display: flex;
                flex-direction: row-reverse;
                border-bottom: 5px solid $purple;
                background-color: #fff;

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                }

                .img-box {
                    display: block;
                    flex: 0 0 auto;

                    .img {
                        max-width: 34vw;
                        display: block;
                        object-fit: cover;
                        object-position: top;

                        @media screen and (max-width: 767px) {
                            max-width: 100%;
                        }
                    }
                }

                .content {
                    padding: 32px;

                    h3 {
                        font-size: 32px;
                        margin-bottom: 16px;

                        @media screen and (max-width: 1024px) {
                            font-size: 20px;
                            padding: 16px;
                        }
                    }

                    p {
                        font-size: 18px;
                        margin-bottom: 16px;

                        @media screen and (max-width: 1024px) {
                            font-size: 16px;
                        }
                    }
                }
            }

            .center {
                text-align: center;
            }
        }
    }

    .contact {
        background-color: $brick;
        color: white;

        h2 {
            color: white;
        }

        .container {
            padding-top: 64px;
            padding-bottom: 64px;

            .contact-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 16px;

                @media screen and (max-width: 767px) {
                    grid-template-columns: 1fr;
                }

                .contact-element {
                    margin: 8px;

                    .row {
                        display: flex;
                        align-items: center;
                        margin-bottom: 16px;
                        margin-top: 16px;
                        color: #fff;
                        cursor: pointer;
                        text-decoration: none;

                        .flex-col {
                            width: 60px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
    
                            * {
                                display: block;
                            }
                        }
                    }
                }

                form {
                    display: block;
                    max-width: 680px;

                    .form-grid {
                        display: grid;
                        grid-gap: 16px;
                        grid-template-columns: 1fr;
                        margin-bottom: 16px;

                        label {
                            line-height: 1.75;
                            font-size: 18px;
                        }

                        .form-element, .form-area {
                            display: block;
                            width: 100%;
                            background-color: #fff;
                            border-radius: 8px;
                            padding: 8px 16px;
                            font-size: 20px;
                            color: #000;

                            &::placeholder {
                                color: rgb(138, 138, 138);
                            }
                        }

                        .form-area {
                            grid-column: 1/-1;
                        }
                    }
                }
            }
        }
    }
}